.agent {
	position: relative;
}

.msg {
	margin-left: 60px;
	padding-top: 2px;
	font-size: 24px;
	color: rgba(255, 255, 255, .8);
	border-bottom: 1px solid rgba(255, 255, 255, .1);
}

.icon {
	position: absolute;
	display: inline-block;
	width: 48px;
	height: 48px;
	opacity: .8;
	background-image: url('./icons8-bot-96.png');
	background-size: contain;
}

.blinkingCursor :global{
  margin-left: 5px;
  font-weight: 100;
  color: transparent;
  animation: 1s blink step-end infinite;
}

@keyframes :global(blink) {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}
